<section class="hero is-medium is-primary is-bold space-between">
    <div class="hero-body">
        <div class="container">
            <h1 class="title main-red-header">
                URKEL
            </h1>
            <h2 class="subtitle">
                Did I Do That?
            </h2>
        </div>
    </div>
</section>
<div class="columns main-content">
    <div class="column is-one-fifth">
        <div class="tile is-ancestor stretch-height">
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="field">
                        <label class="label">Add A Task</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Enter Task">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary create-task">
                                <strong>Do It!</strong>
                            </button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
                {{! handlebars stuff here to populate tiles with each task submitted }} {{!--
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-warning">
                            <p class="subtitle">
                                <strong>Task
                                    <strong>
                            </p>
                            <div class="control">
                                <button class="button is-primary">
                                    <i class="fas fa-check"> </i>
                                </button>
                            </div>
                        </article>
                    </div>
                </div> --}} {{!--
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-warning">
                            <p class="subtitle">
                                <strong>{{task}}
                                    <strong>
                            </p>
                            <div class="control">
                                <button class="button is-primary" task-id="{{id}}" data-complete="{{false}}">
                                    {{#if data-complete}}TASK COMPLETED!
                                    <button class="
                                    button is-success is-incomplete"> {{else}}
                                        <i class="fas fa-check"></i>{{/if}}
                                    </button>
                            </div>
                        </article>
                    </div>
                </div> --}}
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-warning">
                            <p class="subtitle">
                                <strong>Task
                                    <strong>
                            </p>
                            <div class="control">
                                <button class="button is-primary is-incomplete">
                                    <i class="fas fa-check"> </i>
                                </button>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="has-text-centered">
        <p>
            <strong>
                <a href="https://hurlyburly.github.io/Portfolio/">URKEL by Kalsang Bhutia</a>
            </strong>
        </p>
    </div>
</footer>