.stretch-height{
    height:100%;
}

.space-between{
    margin-bottom:5%;
}
body{
    background-image:url("../img/background.png");
    display:flex;
    flex-direction: column;
}
.main-content{
    flex:1 0 auto;
}
.footer{
    flex-shrink:0;
    background-color: #000;
}
